<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666088321479-25ujrl2ilcchpifgcpfj2uaoh0047c25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666088321479-25ujrl2ilcchpifgcpfj2uaoh0047c25</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>666088321479-8cm7mo870tf660g7fuomr7sgfekr94dh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqNtmtK9FKljMyXfl0lmKYiwXwZye2INM</string>
	<key>GCM_SENDER_ID</key>
	<string>666088321479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubh.toopdbq</string>
	<key>PROJECT_ID</key>
	<string>toopdbq</string>
	<key>STORAGE_BUCKET</key>
	<string>toopdbq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666088321479:ios:a5ef59e075b43feafc69e2</string>
	<key>DATABASE_URL</key>
	<string>https://toopdbq-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>